:root {
  --color-dark: #264653;
  --color-teal: #2a9d8f;
  --color-coral: #e76f51;
  --color-yellow: #e9c46a;
  --color-orange: #f4a261;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--color-teal);
  width: 90%;
  margin: auto;
}

h1 {
  color: var(--color-yellow);
  text-align: center;
  font-size: 45px;
}

header {
  background-color: var(--color-dark);
  height: 100px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: var(--color-yellow);
}

main {
  width: 90%;
  margin: auto;
}

section {
  width: 100%;
  margin: auto;
}

/* PRODUCT IMAGES */

section ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-coral);
}

section ul li {
  height: 100px;
  width: 100px;
  display: flex;
  cursor: pointer;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--color-dark);
  background-color: var(--color-coral);
  width: 100%;
}

button {
  margin-top: 15px;
  background-color: black;
  color: white;
  transition: 350ms;
}

button:hover {
  background-color: var(--color-orange);
}

/* FOOTER */

footer {
  height: 150px;
  background-color: var(--color-dark);
  color: var(--color-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}
